# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Environment variables (Crucial for security)
.env
.env.local
.env.*.local
backend/.env